:root{
  
    --clr-primary-700: hsl(300, 43%, 22%);
    --clr-primary-300: hsl(333, 80%, 67%);

    --clr-neutral-100: hsl(303, 10%, 53%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-neutral-300: hsl(0, 0%, 100%);

    --ff-primary: 'spartan', sans-serif;

    --fs-400: .8125rem;
    --fs-500: .9625rem;
    --fs-900: 2rem;

    @media (min-width: 50em) {
      
      --fs-900: 3rem;
      
    }
}





/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Attribution Styling*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  padding-top: 5rem;
  text-align: center;
}

h1{
  font-size: var(--fs-900);
  color: var(--ff-primary-700);
  line-height: 1;
  max-width: 15ch ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-weight: 800;
}

.lead {
  font-size: var(--fs-500);
}

ul li{
  list-style: none;
  
}

.container {
  max-width: 70rem;
  padding: 0 2em;
  margin: 0 auto;
}


